sudo: false
cache: bundler
language: ruby
arch:
  - amd64
  - ppc64le
rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - ruby-head
  - jruby-head
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
install:
  - bundle install --jobs=4 --retry=3
